.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fffcf9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2d3436;
  transition: background-color 0.3s ease;
}

.App-link {
  color: #f39c12;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.App-link:hover {
  color: #e67e22;
}
